aiohttp 
aiosignal 
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-timeout 
attrs 
Authlib 
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bidict 
bleach 
brotlipy 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
contourpy 
cryptography 
cycler 
debugpy 
decorator 
defusedxml 
dnspython 
entrypoints 
executing 
fastapi 
fastjsonschema 
flit_core 
fonttools 
frozenlist 
greenlet 
h11 
httptools 
idna 
importlib-metadata==4.13.0
importlib-resources 
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
Jinja2 
joblib 
json5 
jsonschema 

kiwisolver 
lightfm 
MarkupSafe 

mistune 



multidict 
munkres==1.1.4
mysql-connector-python==8.0.31
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numpy 
packaging 
pandas 
pandas-profiling==1.4.1
pandocfilters 
parso 
pickleshare 
Pillow 
pkgutil_resolve_name 
platformdirs 
ply==3.11
pooch 
prometheus-client 
prompt-toolkit 
protobuf
psutil 
pure-eval 
pycparser 
pydantic 
Pygments 
PyMySQL 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQt5-sip 
pyrsistent 
PySocks 
python-dateutil 
python-dotenv 
python-engineio 
python-json-logger 
python-socketio 
pytz 

PyYAML 
pyzmq 
redis==4.5.1

requests 
requests-file 
requests-futures 
responses 
rfc3339-validator 
rfc3986-validator 
scikit-learn==1.2.0
scipy==1.10.1
Send2Trash 
sip 
six 
sniffio 
soupsieve 
SQLAlchemy 
stack-data 
starlette 
terminado 
threadpoolctl 
tinycss2 
toml 
tomli 
tornado 
traitlets 
typing_extensions 
unicodedata2 
urllib3 
uvicorn 
watchfiles 
wcwidth 
webencodings==0.5.1
websocket-client 
websockets 
win-inet-pton 
yarl 
zipp 
